@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }
img{ width: 200px;}
  .box {
    display: flex;
  
  /* OR 
    display: inline-flex; 
   AND */
    flex-direction:row;
  /* OR 
    row-reverse OR column OR column-reverse; */
  }
  footer{
    
      display: flex;
      flex-direction:row;
      align-items: center;
  }
  footer img {
    width: 20px;
    
  }